@use "variables" as *;
@use "transitions" as *;

.breadcrumbContainer {
  display: flex;
  gap: $spacing-sm;
  font-size: $font-sm;
  flex-wrap: wrap;

  & > li:not(.activeBreadcrumb):hover {
    @include transition-properties;
    color: $color-700;
  }

  .activeBreadcrumb {
    color: $color-purple;
  }
}
