@use "variables" as *;
@use "media-queries" as *;
@use "transitions" as *;

.wrapper {
  @mixin active {
    background-color: $color-950;
    color: $color-50;
  }

  @keyframes slideIn {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0%);
    }
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: calc($spacing-xl * 2);
  gap: $spacing-md;

  .menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-transparent-70;
    box-shadow: 0px 0px 0px 1px $color-500;
    padding: $spacing-sm;
    border-radius: $radius-sm;
    cursor: pointer;

    @include media-query(large) {
      display: none;
    }
  }

  .list {
    display: none;

    @include media-query(large) {
      display: flex;
      align-items: center;
    }

    &.open {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      background-color: $color-50;
      animation-name: slideIn;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }

    .menuContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: $spacing-md;
      padding: 0 $spacing-md;
      margin-top: $spacing-md;

      &::before {
        content: "";
        display: block;
        width: 100px;
        height: 8px;
        align-self: center;
        background-color: $color-200;
        border-radius: $radius-full;
        margin-bottom: $spacing-md;
      }

      @include media-query(large) {
        flex-direction: row;
        gap: $spacing-sm;
        padding: 0;

        &::before {
          display: none;
        }
      }

      .listItem {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: $spacing-sm;
        padding: $spacing-sm $spacing-lg;
        border-radius: $radius-sm;
        background-color: $color-50;
        box-shadow: 0px 0px 0px 1px $color-950;
        @include transition-properties;

        &.closeButton {
          cursor: pointer;
          margin-top: $spacing-md;
        }

        @include media-query(large) {
          padding: $spacing-xs $spacing-md;
          box-shadow: none;
          background: none;
          &.closeButton {
            display: none;
          }
        }

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: $radius-sm;
        }

        @include media-query(large) {
          &:hover {
            @include active;
          }
        }
      }
      .active {
        @include active;
      }
    }
  }
}
