@use "variables" as *;

.container {
  display: flex;
  flex-direction: column;
  margin-top: $spacing-xl;

  & > *:not(:last-child):not(h2) {
    margin-bottom: $spacing-lg;
  }
}

.date {
  color: $color-500;
  padding: 0 $spacing-xs;
  font-size: $font-sm;
}
