@use "transitions" as *;
@use "variables" as *;
@use "media-queries" as *;

@mixin bookmark-properties {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $color-transparent-30;
  border-radius: $radius-sm;
  padding: $spacing-lg;
  gap: $spacing-sm;

  @include media-query(large) {
    @include transition-properties;
    &:hover {
      background-color: $color-transparent-50;
    }
  }
}
