@use "card-properties" as *;
@use "variables" as *;
@use "image-properties" as *;

.wrapper {
  @include card-properties;
  align-items: flex-start;

  .imageContainer {
    @include image-properties;
  }

  .link {
    display: flex;
    align-items: center;
    font-size: $font-sm;
    gap: $spacing-xs;
  }
}
