@use "card-properties" as *;
@use "variables" as *;
@use "text-ellipsis" as *;
@use "image-properties" as *;

.bookmarkItem {
  @include card-properties;
  align-items: flex-start;

  .imageContainer {
    @include image-properties;
  }

  .textContainer {
    @include text-ellipsis($lines: 2);
  }

  .excerpt {
    color: $color-500;
    gap: $spacing-xs;
    font-size: $font-sm;
  }

  .link {
    display: flex;
    align-items: center;
    font-size: $font-sm;
    gap: $spacing-xs;
  }
}
