@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: var(--color-zinc-50);
  --foreground: var(--color-zinc-900);

  --foreground-muted: var(--color-zinc-700);
  --foreground-subtle: var(--color-zinc-500);

  --border: var(--color-zinc-200);
  --border-hover: var(--color-zinc-300);

  --decoration: var(--color-zinc-300);
  --decoration-hover: var(--color-zinc-500);

  --surface-hover: var(--color-zinc-100);

  --sh-class: var(--color-blue-600);
  --sh-identifier: var(--color-zinc-800);
  --sh-sign: var(--color-zinc-600);
  --sh-property: var(--color-sky-600);
  --sh-entity: var(--color-emerald-600);
  --sh-jsxliterals: var(--color-indigo-600);
  --sh-string: var(--color-teal-600);
  --sh-keyword: var(--color-rose-600);
  --sh-comment: var(--color-zinc-600);
}

.dark {
  --background: var(--color-zinc-900);
  --foreground: var(--color-zinc-100);

  --foreground-muted: var(--color-zinc-300);
  --foreground-subtle: var(--color-zinc-500);

  --border: var(--color-zinc-700);
  --border-hover: var(--color-zinc-600);

  --decoration: var(--color-zinc-600);
  --decoration-hover: var(--color-zinc-400);

  --surface-hover: var(--color-zinc-800);

  --sh-class: var(--color-blue-400);
  --sh-identifier: var(--color-zinc-200);
  --sh-sign: var(--color-zinc-400);
  --sh-property: var(--color-sky-400);
  --sh-entity: var(--color-emerald-400);
  --sh-jsxliterals: var(--color-indigo-400);
  --sh-string: var(--color-teal-400);
  --sh-keyword: var(--color-rose-400);
  --sh-comment: var(--color-zinc-400);
}

@theme inline {
  --color-background: var(--background);

  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);
  --color-foreground-subtle: var(--foreground-subtle);

  --color-border: var(--border);
  --color-border-hover: var(--border-hover);

  --color-decoration: var(--decoration);
  --color-decoration-hover: var(--decoration-hover);

  --color-surface-hover: var(--surface-hover);
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --breakpoint-xs: 30rem;
  --text-tiny: 0.625rem;
  --default-transition-duration: 300ms;

  --animate-fade-in: fade-in 0.2s ease-out;
  --animate-reveal: reveal 0.7s ease-in-out;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes reveal {
    0% {
      opacity: 0;
      filter: brightness(1) blur(15px);
      scale: 1.0125;
    }
    10% {
      opacity: 1;
      filter: brightness(1.25) blur(10px);
    }
    100% {
      opacity: 1;
      filter: brightness(1) blur(0);
      scale: 1;
    }
  }
}

@utility link {
  @apply decoration-decoration hover:decoration-decoration-hover underline decoration-1 underline-offset-4 transition ease-in-out;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@layer base {
  body {
    @apply bg-background text-foreground flex min-h-dvh flex-col overflow-x-hidden font-sans text-pretty antialiased;
  }

  a,
  button {
    @apply cursor-pointer outline-hidden;
  }

  button:focus {
    @apply outline-hidden;
  }

  button:disabled,
  button[disabled] {
    @apply cursor-not-allowed;
  }

  ul {
    li {
      @apply pl-1;
    }
  }

  ol {
    li::marker {
      @apply font-medium;
    }
  }

  li {
    p {
      @apply m-0 inline;
    }
  }

  img,
  object {
    @apply border-border rounded-md border;
  }

  hr {
    @apply border-border w-full border-t opacity-50;
  }

  pre {
    @apply min-w-max p-4 text-sm leading-6;

    code {
      @apply font-mono whitespace-pre;
      counter-reset: line-number;

      .sh__line {
        &:before {
          @apply text-foreground-subtle mr-6 inline-block w-5 text-right tabular-nums;
          counter-increment: line-number 1;
          content: counter(line-number);
        }
      }
    }
  }
}
