@use "variables" as *;
@use "media-queries" as *;
@use "transitions" as *;

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: $spacing-lg;

  h1 {
    font-size: $font-lg;
    font-weight: 500;
  }

  .location {
    display: flex;
    align-items: center;
    gap: $spacing-xs;
    font-size: $font-sm;
  }
}
