@use "variables" as *;
@use "media-queries" as *;
@use "transitions" as *;

.profile {
  display: flex;
  align-items: center;
  gap: $spacing-md;

  .profilePhoto {
    background-color: $color-800;
    border-radius: $radius-xl;
    padding: $spacing-xs;
    box-shadow: $color-950 0px 5px 15px;
  }

  .profileInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $spacing-xs;
    cursor: default;

    h1 {
      font-size: $font-lg;
    }
  }
}
