@use "variables" as *;
@use "transitions" as *;

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: $spacing-lg;
  margin-bottom: $spacing-lg;

  & > a {
    display: flex;
    align-items: center;
    gap: $spacing-xs;
    @include transition-properties;
    &:hover {
      color: $color-500;
    }
  }
}
