@use "variables" as *;

.heading {
  margin-bottom: $spacing-lg;

  .content {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: $font-lg;
      font-weight: bold;
      line-height: $spacing-xl;
      margin-bottom: $spacing-md;
      align-self: flex-start;
    }
  }
}
