// color
$color-50: #f9fafb;
$color-100: #f3f4f6;
$color-200: #e5e7eb;
$color-300: #d1d5db;
$color-400: #9ca3af;
$color-500: #6b7280;
$color-600: #4b5563;
$color-700: #374151;
$color-800: #1f2937;
$color-900: #111827;
$color-950: #030712;
$color-transparent-30: rgba(249, 250, 251, 0.3);
$color-transparent-50: rgba(249, 250, 251, 0.5);
$color-purple: rgb(52, 88, 161);

// spacing
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;
$spacing-xxl: 3rem;

// font size
$font-sm: 0.875rem;
$font-md: 1.125rem;
$font-lg: 1.5rem;
$font-xl: 2rem;

// border radius
$radius-sm: 0.5rem;
$radius-xl: 2.5rem;
