@use "card-properties" as *;
@use "variables" as *;
@use "image-properties" as *;

.postCard {
  @include card-properties;
  align-items: flex-start;
  padding: 0 0 $spacing-lg 0;

  .imageContainer {
    @include image-properties;
    border-radius: $radius-sm $radius-sm 0 0;
    margin-bottom: $spacing-sm;
    span {
      position: absolute;
      top: 10px;
      right: 10px;
      color: $color-500;
      background-color: $color-transparent-70;
      padding: 0 $spacing-xs;
      border-radius: $radius-sm;
      font-size: $font-xs;
    }
  }

  .textContainer {
    padding: 0 $spacing-lg;
  }
}
